<h1>Sign up</h1>

<%= render 'errors', model: @user %>

<%= form_for @user do |f| %>
  <%= f.label :email, 'E-Mail' %>
  <%= f.text_field :email %>

  <%= f.label :email_confirmation, 'E-Mail Confirmation' %>
  <%= f.text_field :email_confirmation %>

  <%= f.label :username, 'Username' %>
  <%= f.text_field :username %>

  <%= f.label :password, 'Password' %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'Password Confirmation' %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit 'Sign up', :disable_with => 'Signing up...' %>
<% end %>
