<h1>Log in</h1>

<% if @error %>
  <p>Couldn't log you in: Wrong username/password combination.</p>
<% end %>

<p>
  Did you forget your password? <%= link_to 'Reset password', new_user_password_reset_request_path %>
</p>

<%= form_for :user_session, url: user_session_path do |f| %>
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>

  <%= f.submit "Log in", :disable_with => 'Logging in...' %>
<% end %>
